body{
    width: 1500px;
    margin: auto;
} * {
    box-sizing: border-box;
    margin: 0;
}

div{
    margin-top: 20px;
    margin-left: 10px;
}

#head_pattern{
   background-image: url(./img/pattern.png);
   background-color: #03a9f4;
   padding-top: 5%;
   padding-left: 10px;
   margin: 0;
}

#date{
    color: gray;
}

#author{
    font-size: x-large;
    color: gray;
}

h1{
   font-size: 300%;
}


.tim{
    height:500px;
}

main{
    font-size: larger;
}

table{
    text-align: center;
    margin: 50px 10px 0px 10px;
    background-color: #a9dbf3;
}

th{
    background-color: #03a9f4;
    color: white;
}

#th1,#th2{
    width: 20%;
}

#tr2{
    background-color: white;
}

footer{
    font-family: 'DM Serif Display', serif;
    font-size: larger;
    color: gray;
}

div.foot{
    font-size: xx-large;
    color: white;
    height: 207px;
    background-repeat: no-repeat;
    padding-left: 10px;
}

div.img1{
    background-image: url(./img/monitor.jpg);
}

div.img2{
    background-image: url(./img/graph.jpg);
}

